<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용하기</title>
    <script src="/js/jquery-3.7.1.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.js"></script>
</head>
<body>
<footer th:fragment="footer" class="bg-dark text-white py-3 mt-auto">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">홈</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">문의하기</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">개인정보처리방침</a></li>
        </ul>
        <p class="text-center mb-0 mt-2">made by fullstack405</p>
    </div>
</footer>
</body>
</html>
